@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --white: #fff;
    --text: #000;
  }
}

body {
  color: var(--text);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
